body {
    background: rgb(49, 46, 46);
}
header {
    color: antiquewhite;
    text-align: center;
}
section {
    width: 30%;
    background: rgb(197, 204, 193);
    margin: auto;
    padding: 8pt;
    border-radius: 6pt;
}
footer {
    text-align: center;
    font-size: 12pt;
    font-style: italic;
    color:rgb(141, 125, 109)
}
div#res {
    text-align: center;
}